
<div id="notFan">

<h2>YOU CAN CONTINUE ONCE YOU’VE LIKED THE FACEBOOK PAGE</h2>

 <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FHeineken&amp;width=200&amp;height=200&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=227636107283055" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:200px;" allowTransparency="true"></iframe>

<a class="greenBtn" href="{$basedomain}notFan/reload">Next</a>
</div>