<div id="container" class="homePage">
   <div id="content">
   		<div id="theContent" class="wrapper">
        	<div class="section">
                <div id="helpContainer">
                    <div class="page-title">
                    <h1>HOW TO BE SELECTED</h1>
                    </div>
                	<div class="helpIcon2">
                    </div><!-- end .helpIcon -->
                	<div class="boxLeft">
                    	<div class="helpBox helpBox1">
                        	<div class="iconHelp"><img src="{$assets_domain}images/help1.png" /></div>
							<p><span class="green">Datang ke events!</span><br />(mungkin itu adalah alasan lo berada di sini; buat yang belum pernah, do come and you'll see why you should!)</p>
                        </div><!-- end .helpBox -->
                    	<div class="helpBox helpBox4">
                        	<div class="iconHelp"><img src="{$assets_domain}images/help2.png" /></div>
							<p><span class="green">Be yourself</span><br /> (if you have an amazing personality, why bother pretending to be someone else, right?)</p>
                        </div><!-- end .helpBox -->
                    	<div class="helpBox helpBox2">
                        	<div class="iconHelp"><img src="{$assets_domain}images/help3.png" /></div>
							<p><span class="green">Take the personality quiz to reveal your hidden self</span> (well, lo nggak pernah tau mungkin saja loe menemukan karakter lo yang sebenarnya)</p>
                        </div><!-- end .helpBox -->
                    	<div class="helpBox helpBox5">
                        	<div class="iconHelp"><img src="{$assets_domain}images/help4.png" /></div>
							<p>Convince us that you're the one (are you?)</p>
                        </div><!-- end .helpBox -->
                    	<div class="helpBox helpBox3">
                        	<div class="iconHelp"><img src="{$assets_domain}images/help5.png" /></div>
							<p><span class="green">Complete your profile</span><br /> (don't worry, your profile is only visible by you; and us, of course)</p>
                        </div><!-- end .helpBox -->
                    	<div class="helpBox helpBox6">
                        	<div class="iconHelp"><img src="{$assets_domain}images/help6.png" /></div>
							<p>Keep spreading the words and keep your fingers crossed!</p>
                        </div><!-- end .helpBox -->
                    </div><!-- end .boxLeft -->
                	<div class="helpIcon">
                    </div><!-- end .helpIcon -->
                	<div class="boxRight">
                    	<div class="helpBox helpBox4">
							<p><span class="green">Be yourself</span><br /> (if you have an amazing personality, why bother pretending to be someone else, right?)</p>
                        </div><!-- end .helpBox -->
                    	<div class="helpBox helpBox5">
							<p>Convince us that you're the one (are you?)</p>
                        </div><!-- end .helpBox -->
                    	<div class="helpBox helpBox6">
							<p>Keep spreading the words and keep your fingers crossed!</p>
                        </div><!-- end .helpBox -->
                    </div><!-- end .boxRight -->
                </div><!-- end #contentContainer -->
            </div><!-- end .section -->
        </div><!-- end #theContent -->
   </div><!-- end #content -->
</div><!-- end #container -->