
<div class="wrapper pad20">
    <a class="logo" href="index.php">&nbsp;</a>
</div><!-- end .wrapper -->
<div id="containers" class="homePage">
   <div id="content">
   		<div id="TosContent" class="wrapper">
        	<div class="section">
                <h1 align="center">TERMS AND CONDITIONS</h1>
                <h2 align="center">"Heineken Presents Sensation Wicked Wonderland Program"</h2><br />
                <ol>
                  <li>Nama program ini adalah "Heineken Presents Sensation Wicked Wonderland" (selanjutnya disebut "Program"). Program ini memiliki 2 (dua) komponen utama, yaitu photo booth dan personality quiz.</li>
                  <li>Hadiah yang dapat dimenangkan oleh Peserta selama Program ini berlangsung adalah 3 (tiga) paket hospitality untuk event "Sensation" di Korea Selatan (dengan periode perjalanan dari tanggal 28 November sampai dengan 02 Desember 2013) dan 6 (enam) paket hospitality untuk event "Sensation" di Thailand (dengan periode perjalanan dari tanggal 31 Januari sampai dengan 03 Februari 2014)<br />
                    Hadiah dapat diperoleh Peserta dengan cara :
                    <ol type="a">
                      <li>Berfoto di photo booth Heineken di outlet-outlet terpilih. Daftar outlet meliputi : Immigrant, Alibi, Empirica. (Daftar outlet dapat berubah sewaktu-waktu).</li>
                      <li>Peserta kemudian akan menerima email dari pihak Heineken atau perwakilan dari Heineken.</li>
                      <li>Peserta meng-klik konten pada body email tersebut dan masuk ke dalam situs <a href="http://www.liveaccess.co">www.liveaccess.co</a> untuk menyelesaikan personality quiz.</li>
                    </ol>
                  </li>
                  <li>Pemenang akan dipilih oleh panitia dari pihak Heineken selaku penyelenggara (keputusan panitia tidak dapat diganggu gugat) dengan ketentuan sebagai berikut: 
                    <ol type="a">
                      <li>Peserta harus memiliki paspor pribadi dan harus berlaku minimum selama 6 (enam) bulan pada saat periode perjalanan serta melengkapi dokumen untuk pengurusan visa Korea Selatan dan Thailand paling lambat 5 (lima) hari sejak diumumkan sebagai pemenang. </li>
                      <li>Keberangkatan pemenang berdasarkan persetujuan visa dari Negara terkait. Heineken tidak berkewajiban mengganti hadiah dengan bentuk lain jika pembatalan disebabkan karena visa tidak disetujui atau hal-hal lain yang termasuk kedalam <em>force majeure</em>.</li>
                      <li>Peserta juga harus memiliki dokumen-dokumen berikut yang sah:
                        <ol type="i">
                          <li>Fotokopi buku rekening 3 bulan terakhir.</li>
                          <li>Fotokopi KK (Kartu Keluarga).</li>
                          <li>Fotokopi KTP (Kartu Tanda Penduduk).</li>
                          <li>Surat pernyataan untuk berangkat ke Korea sesuai dengan periode keberangkatan. </li>
                        </ol>
                      </li>
                      <li>Heineken berhak mencari dan atau mengganti pemenang bila dokumen tidak lengkap pada batas waktu yang ditentukan </li>
                      <li>Pemenang hadiah perjalanan ke Korea tidak berhak untuk mengikuti program dengan hadiah perjalanan ke Thailand. </li>
                      <li> Semua foto dan hasil personality quiz sepenuhnya akan menjadi hak Heineken. </li>
                    </ol>
                  </li>
                <li>Hadiah akan diberikan kepada Peserta terpilih yang telah ditetapkan oleh Heineken sesuai peraturan yang berlaku. Hadiah paket hospitality meliputi:</li>
                  <ol type="a">
                    <li>Penerbangan: CGK-Seoul/Bangkok-CGK (Kelas Ekonomi)</li>
                    <li>Biaya pengurusan visa (untuk hadiah ke Korea Selatan)</li>
                    <li>Jika diperlukan perpanjangan paspor oleh pemenang, biaya akan ditanggung oleh pihak pemenang</li>
                    <li>Akomodasi di hotal berbintang 4/5 untuk 3 malam</li>
                    <li>Akses VIP Festival selama event "Sensation" </li>
                    <li>Makan dan minum (tidak termasuk wine dan atau liquor), </li>
                    <li>Kegiatan tamasya/sightseeing di kota sekitar Seoul dan Bangkok selama periode perjalanan.</li>
                    <li>Tunjangan uang saku sebesar US$ 50 (lima puluh Dollar AS) per hari per pax (untuk hitungan 3 (tiga) hari saja)</li>
                  </ol>
                  <li>Ketentuan Peserta program :</li>
                  <ol type="a">
                    <li>Untuk mengikuti Program, Peserta harus sudah berusia 21 (dua puluh satu) tahun atau lebih</li>
                    <li>Mekanisme 'photo booth': Peserta diminta berfoto di photo booth Heineken dengan ketentuan foto yang dipilih merupakan foto yang paling unik, sesuai dengan tema "wicked". Syarat foto yang di upload tidak boleh mengandung unsur pornografi, SARA, dan provokasi </li>
                    <li>Mekanisme 'personality quiz': Peserta akan menerima email dimana peserta diminta untuk membuka email mereka dan masuk ke situs <a href="http://www.liveaccess.co">www.liveaccess.co</a> untuk kemudian mengikuti personality quiz yang tertera di situs.</li>
                  </ol>
                  <li>Periode hadiah Heineken Present Sensation Wicked Wonderland:
                    <ol type="a">
                      <li>Periode promosi dilakukan dua tahapan. 
                        <ol type="i">
                          <li>Tahap 1 akan berakhir pada tanggal 7 November 2013. Pengumuman pemenang periode 1 berupa paket hospitality ke event "Sensation" di Korea Selatan akan dilakukan pada tanggal 12 November 2013</li>
                          <li>Tahap 2 akan berakhir pada tanggal 10 Januari 2014. Pengumuman pemenang periode 2 berupa paket hospitality ke event "Sensation" di Thailand akan dilakukan pada tanggal 23 Januari 2014. </li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                  <li>Hadiah dari program ini tidak dapat diuangkan dan dipindah tangankan kepada orang lain. </li>
                  <li>Pajak hadiah ditanggung sepenuhnya oleh pihak penyelenggara berdasarkan peraturan yang berlaku.</li>
                  <li>Pihak Heineken berhak membatalkan/menghapus konten Peserta yang dianggap menyalahi aturan dan mendiskualifikasi Peserta yang bersangkutan dari Program yang berlangsung tanpa pemberitahuan terlebih dahulu.</li>
                  <li>Pihak Heineken dapat mengubah, menghapus, atau menambahkan ketentuan dan persyaratan Program serta hal lain yang dibutuhkan dan akan diberitahukan kepada Peserta melalui akun Facebook resmi Heineken dalam waktu minimal 7 (tujuh) hari kerja sebelum terjadinya perubahan.</li>
                  <li>Syarat dan Ketentuan ini diatur berdasarkan hukum Indonesia. Sengketa yang timbul sehubungan dengan Syarat dan Ketentuan ini akan diselesaikan melalui Pengadilan Negeri Jakarta Selatan.</li>
                  <li>Pembatasan Tanggung Jawab &amp; Jaminan: 
                    <ol>
                      <li>Pihak Heineken tidak akan bertanggung jawab dengan cara apapun jika Peserta tidak dapat (baik secara keseluruhan atau sebagian) ikut serta dalam Program karena alasan teknis apa pun atau ketentuan hukum atau regulasi, atau segala peristiwa yang di luar kendali wajar pihak Heineken. Tanpa mengurangi sifat umum ketentuan di atas, Heineken tidak bertanggung jawab atas kegagalan, keterbatasan, atau keterlambatan jaringan-jaringan internet, kesalahan atau kekurangan teknis lain apa pun, kurangnya pulsa atau pelunasan tunggakan pelanggan, kesalahan manusiawi atau perbuatan pihak ketiga yang dapat mempengaruhi segala partisipasi peserta dalam Program ini. Sewaktu-waktu Heineken dapat menangguhkan, mengubah atau membatalkan Program ini tanpa kewajiban apapun. </li>
                      <li>Pihak Heineken tidak bertanggung jawab untuk keterlambatan apapun dalam pemberian atau penyerahan hadiah sehubungan dengan alasan-alasan yang tidak dapat dikendalikan secara wajar oleh Heineken (<em>force mejeure</em>). Program ini disediakan sebagaimana adanya tanpa jaminan apapun sesuai dengan hukum yang berlaku. Segala tuntutan sehubungan dengan mutu atau kondisi hadiah hanya dapat ditujukan kepada produsen atau distributor hadiah yang bersangkutan di Indonesia. </li>
                    </ol>
                  </li>
                </ol>
            </div><!-- end .section -->
        </div><!-- end #theContent -->
   </div><!-- end #content -->
</div><!-- end #container -->