
<div class="wrapper pad20">
    <a class="logo" href="index.php">&nbsp;</a>
</div><!-- end .wrapper -->
<div id="containers" class="homePage">
   <div id="content">
   		<div id="TosContent" class="wrapper">
        	<div class="section">
            	
<h1 align="center">Heineken Disclaimer</h1><br />
<h2>Introduction</h2>
<p>In order to ensure that we all enjoy the facilities of the Heineken website, we herewith set out our general guidelines. In these Terms and Conditions of use, and Privacy and Cookie Policy, you will find details on our policies and regulations. We suggest you read them carefully. The following is a general approach only.</p>
<h2>Terms of Use</h2>
<ol>
  <li>
    <h3>Applicability</h3>
    <ul>
      <li>These terms and conditions of use (&quot;Terms of Use&quot;) apply to all visits to and all use of this website of Heineken Brouwerijen B.V. (&quot;Heineken&quot;), as well as to all information, recommendations and/or services provided to you on or through this website (the &quot;Information&quot;).</li>
      <li>By using this website you agree to the applicability of these Terms of Use. We note that these Terms of Use may be changed over time. Such changes shall be effective immediately upon the posting of the modified Terms of Use. Users of the website are advised to regularly read the Terms of Use for possible changes.</li>
    </ul>
  </li>
  <li>
    <h3>Information and Liability</h3>
    <ul>
      <li>The Information is for general information purposes only and does not constitute advice. Heineken shall not be liable for any damages resulting from the use (or inability to make use) of this website, including any incorrectness or incompleteness of the Information, unless such damage is the result of any wilful misconduct or gross negligence on the part of Heineken. Heineken shall not be liable for damages resulting from any lack of suitability, timeliness or accuracy of this website or the Information.</li>
      <li>Heineken shall furthermore not be liable for damages resulting from the use of electronic means of communication, including, but not limited to, damages resulting from the failure or delay in delivery of electronic communications, interception or manipulation of electronic communications by third parties or by computer programs used for electronic communications and transmission of viruses.</li>
      <li>Heineken disclaims all warranties including, but not limited to, warranties of conditions, quality, merchantability, fitness for a particular purpose and non-infringement.</li>
    </ul>
  </li>
  <li>
    <h3>Information of third parties</h3>
    <ul>
      <li>The Information originating from third parties constitutes an expression of the personal opinions of those third parties. Heineken is not responsible and shall not be liable for such Information.</li>
      <li>Hyperlinks on this website may direct visitors to external websites which are maintained by third parties. Heineken shall not be liable for the contents and the functioning of such external websites. Heineken shall also not be liable for the quality of products or services which may be offered on such external websites.</li>
    </ul>
  </li>
  <li>
    <h3>Intellectual property</h3>
    <ul>
      <li>Unless indicated otherwise, all intellectual property rights to this website and the Information are owned by Heineken. These rights include but are not limited to all copyrights, rights to the trade names, word trademarks, pictorial trademarks and logos of Heineken, such as, but not limited to the rights to &quot;HEINEKEN&quot;.</li>
      <li>Users are permitted to read this website and the Information and make copies for their own personal use, for example by printing or storing. All other use of the website or of the Information, for example the storage or reproduction of (a part of) the website of Heineken in any external internet site, is not permitted.</li>
    </ul>
  </li>
  <li>
    <h3>Unsolicited ideas</h3>
    <ul>
      <li>In the event that you post unsolicited ideas and/or materials whether consisting of texts, images, sounds, software, information or otherwise (the &quot;Materials&quot;) on this website or send such Materials to Heineken by email or otherwise, Heineken shall be entitled to use, copy and/or commercially exploit such Materials to the fullest extent and free of charge. Heineken shall not be bound by any confidentiality obligation in respect of such Materials.</li>
      <li>You hereby indemnify and hold Heineken harmless from and against all actions, claims and liabilities, suffered, incurred or sustained by Heineken as a result of the use and/or exploitation of the Materials infringing the (intellectual property) rights of any third party or otherwise being unlawful towards a third party.</li>
    </ul>
  </li>
  <li>
    <h3>Severability</h3>
    </li>
  <ul>
    <li>If these Terms of Use are or become partially void, the parties will continue to be bound by the remainder of the same. The parties shall replace the void part by provisions that are valid and have legal effect that correspond with those of such void part as much as possible, taking into account the content and the purport of these Terms of Use.</li>
  </ul>
    <li>
      <h3>Applicable law and jurisdiction</h3>
    </li>
</ol>
<ol>
  <ul>
    <li>These Terms of Use shall be exclusively governed by Law of the Netherlands. All disputes arising in connection with these Terms of Use, including but not limited to disputes concerning the existence and validity thereof, shall be resolved by the competent courts of Amsterdam.</li>
  </ul>
</ol>
<h2>Privacy and cookie policy</h2>
<ol>
  <li>
    <h3>Cookie Policy</h3>
      <p>This website dedicated to the Heineken brand (the "Website") is provided by Heineken Brouwerijen B.V., a company organized under the laws of the Netherlands ("Heineken"). The Website makes use of so-called &quot;cookies&quot;. Cookies are small text files that the Website stores on your user device.</p>
    <ul>
      <li>
        <h4>Cookies used on the Website</h4>
        <ul>
          <li>The Website uses cookies for the following purposes:</li>
          <li>Functional cookies: cookies used to enhance the user friendliness of the Website for visitors. For example, a cookie is placed to remember your preferred country and language settings and to remember the information you submitted on the age-gate page. Without this cookie, you would have to re-enter the age-gate before every page you want to visit on the Website.</li>
          <li>Analytics cookies: Heineken uses Google Anaytics cookies, with the purpose to analyze how visitors use the Website. Heineken can then make improvements to the usability of the Website. Google only processes data obtained via the Website in an anonymous form. Please visit www.google.com/analytics for more information on Google Analytics.</li>
          <li>Third party cookies: the Website allows cookies of social plugins of certain third parties. This enables a user to share content of the Website on such social networks. These plugins also enhance the user friendliness of the Website, for example with the Facebook plugin on the Website users can simply register to the Website with their Facebook account details. The data collected by these third parties via the plugins are exclusively determined by such third party as Heineken can't read these cookies (nor can these parties read the cookies of Heineken). For information regarding the third party cookies please check the respective third party's privacy policy.<br />
            The functional cookies of the Website that are stored by Heineken on your computer only remain valid during your session on the Website.</li>
        </ul>
      </li>
      <li>
        <h4>Changing your settings</h4>
        <ul>
          <li>By changing the settings in your web browser, you can establish that you will be given notice if a cookie is stored on your computer. By changing settings, you can also establish that your browser does not accept cookies from this Website. However, if your browser does not accept cookies from this Website, you may not be able to access or use all features of this Website.</li>
        </ul>
      </li>
      </ul>
  </li>
  <li>
    <h3>Privacy Policy</h3>
    <ul>
      <li>
        <h4>General</h4>
        <ul>
          <li>Heineken is the controller of the processing of all personal data collected through the Website. Heineken respects your privacy and complies with the provisions of the Dutch Data Protection Act.</li>
          <li>Heineken does not collect or process personal data through the functional cookies placed by Heineken. Heineken only processes personal data that a user voluntarily provides to Heineken, by means of registering on the Website for a service provided by the Website. This information may include such user's first and last name, e-mail address, date of birth and country of residence. Heineken's primary purpose in gathering and transferring these personal data will be to provide a user with all services and games of the Website and with ease of use of the Website.</li>
        </ul>
      </li>
      <li>
        <h4>Transfer, storage and processing of data</h4>
        <ul>
          <li>The transfer, storage and processing of data collected through this Website is secured by means of current, usual technical measures. Heineken may transfer your personal data to its group companies. Heineken may also provide your personal data to third parties, which will process your personal data according to instructions of Heineken and under the responsibility of Heineken. In case Heineken sells all or some of the assets or shares of a group company to which personal data was transferred to a third party, your personal data may be provided to this third party. Heineken will not provide your personal data to any other third parties, unless there is a legal obligation to do so.</li>
        </ul>
      </li>
      <li>
        <h4>Access, correction and removal</h4>
        <ul>
          <li>You can request Heineken to provide access to the personal data it has collected about you at any time. You can also request Heineken to correct or to delete such personal data. Please send an email to webcentre@heineken.com in case you have any questions concerning anything on this page.</li>
          <li>This Privacy and Cookie Policy may be changed over time. Such changes shall be effective immediately upon the posting of the modified Privacy and Cookie Policy. Users of the Website are advised to regularly read the Privacy and Cookie Policy for possible changes.</li>
        </ul>
      </li>
      </ul>
  </li>
  </ol>
            </div><!-- end .section -->
        </div><!-- end #theContent -->
   </div><!-- end #content -->
</div><!-- end #container -->